---
---

@import "{{ site.theme }}";

$text-color: #c5c5c5;

body {
    background: rgba(18, 18, 18, .9); //#1A1A2E;
    color: $text-color;
}

strong {
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color;
}

nav ul a {
    color: $text-color;
}

nav ul li.tag-h1 a {
    color: $text-color;
}

#banner .downloads span {
    color: #f3f3f3;
}

a {
    color: #e94560;
}

section {
    background: rgba(18, 18, 18, .3); //#16213e;
    border: 1px solid rgba(18, 18, 18, .5); //#2b2b42;
    box-shadow: none;
}

header {
    background: rgba(18, 18, 18, .3); //#0f3460;
    h1 {
        text-shadow: 0px 2px 0px #e94560;
    }
}

#banner {
    background: #e94560;
    border: 1px solid #e72242;

    .button {
        background-color: rgba(18, 18, 18, .7) !important;
        border: 1px solid rgba(18, 18, 18, .8) !important;
        color: $text-color !important;
        box-shadow: none !important;
    }
}
